* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/*  navbaar start */
.header {
  background: none;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  padding: 2rem 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 70px;
  display: flex;
  /* justify-content:flex-start ; */
  align-items: center;
  background-color: silver;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-item {
  list-style: none;
}

.nav-link {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: dodgerblue;
}

.hamburger {
  display: none;
  cursor: pointer;

  padding: 0.5rem;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #0000d1;
  ;
}

.navActive {
  background: #ebe9e9;
}

.navActive .nav-link {
  color: blue;
}

.cronjImg {
  width: 143px;
  height: 40px;
  background: none;
  border: none;
  margin-left: 4.5rem;
}

.nav-btn {
  background-color: #6a82f4;
  border: none;
  border-radius: 10px;
  width: 140px;
  height: 40px;
  margin-right: 3rem;
}

.nav-anchortag1 {
  font-size: 16px;
  color: white;
  text-decoration: none;
}

@media (max-width: 2560px) and (min-width: 1441px) {
  .nav-menu {
    margin-left: 50rem;
  }

  .nav-link {
    font-size: 30px;
  }
}

@media (max-width: 1440px) {
  .nav-menu {
    margin-left: 20rem;
    margin-right: 20rem;
    border: 2px red soild;
  }
}

@media (max-width: 1024px) {
  .nav-menu {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

@media (max-width: 768px) {
  .nav-menu {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .navbar {
    padding: 1rem 0px;
  }

  .nav-link {
    color: #0000d1;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #85d9ee;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .active1 {
    display: none;
  }

  .active2 {
    display: block;
  }

  .nav-btn {
    margin-right: 4rem;
  }
}

@media (max-width: 500px) and (min-width: 375px) {
  .nav-btn {
    margin-right: 1rem;
  }
}

/* navbaar ending  */

/* --------section 1& 2----------- */

.headerConatiner-Backgrd {
  background-image: url(/img/section1/Group\ 10252.png);
  background-repeat: no-repeat;
  position: relative;
  height: 900px;
}

.AboutUsHeading {
  background-color: #ffffff;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 499px;
  /* border: 2px rgb(17, 0, 255) solid; */
  padding: 5rem;
}

.contanierabout {
  padding: 2rem;
  position: relative;
  bottom: 220px;
  background-color: white;
  box-shadow: 0rem 10px 4px rgb(212, 209, 209);
}

.blank-div {
  width: 210px;
  height: 6px;
  border: 7px solid #6a82f4;

  position: relative;
  bottom: 10px;

  margin: auto;
  left: -120px;
}

.AboutUspg1 {
  font-size: 100px;
  font-weight: bold;
  margin: auto;
  height: 140px;
}

.AboutUspg2 {
  font-size: 16px;

  height: 159px;
}

.text-color {
  color: #6a82f4;
}

@media (max-width: 2560px) and (min-width: 1441px) {
  .headerConatiner-Backgrd {
    background-size: cover;
  }
  .AboutUsHeading {
     padding: 8rem;
}
 
}

@media (max-width: 1440px) and (min-width: 1200) {
  .AboutUsHeading {
    padding: 10rem;
  }
}

@media (max-width: 1024px) {
  .headerConatiner-Backgrd {
    background-position: center;
  }

 
}

@media (max-width: 768px) {
  .blank-div {
    width: 80px;
    left: -75px;
    bottom: 30px;
    border: 4px solid #6a82f4;
  }

  .AboutUspg1 {
    font-size: 50px;
    margin-bottom: -2rem;
  }

  .AboutUspg2 {
    font-size: 15px;
  }
}

@media (max-width: 425px) and (min-width: 320px) {
  .AboutUsHeading {
    background-color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 499px;
    /* border: 2px rgb(17, 0, 255) solid; */
    padding: 2rem;
  }

  .blank-div {
    height: 4px;
    width: 50px;
    left: -40px;
    border: 3px solid #6a82f4;
  }

  .contanierabout {
    padding: 0rem;
  }

  .AboutUspg1 {
    font-size: 30px;
    margin: auto;
    height: 140px;
    padding-top: 4rem;
  }

  .AboutUspg2 {
    font-size: 12px;
    padding: 10px;
    height: 300px;
    /* border: 1px red solid; */
    margin-top: -1.5rem;
  }
  .headerConatiner-Backgrd {
    background-image: url(/img/section1/Group\ 10252.png);
  }
}

/* -----------------------------section3-------- ------ */

.FlexVisOrMis {
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding: 2rem;
  margin-top: -10rem
}

.Visbcg {
  background: url(/img/section3/Group\ 10250.svg) no-repeat center center/cover;
  padding: 50px;
  margin: 3rem;
  box-shadow: 1px 1px 10px;
}

.blank-div1 {
  max-width: 130px;
  height: 6px;
  border: 7px solid #6a82f4;
  position: relative;
  bottom: 10px;
  margin: auto;
  left: -175px;
}

.Vispg {
  font-size: 50px;
  font-weight: bold;
}

.Vispg1 {
  max-width: 476px;
  font-size: 16px;
}

@media (max-width: 1024px) {
  .blank-div1 {
    border: 5px solid #6a82f4;
    left: -75px;
  }
}

@media (max-width: 768px) {
  .FlexVisOrMis {
    grid-template-columns: 1fr;
    margin-top: -15rem
  }

  .blank-div1 {
    border: 4px solid #6a82f4;
    left: -185px;
  }
}

@media (max-width: 425px) and (min-width: 320px) {
  .FlexVisOrMis {
    grid-template-columns: 1fr;
  }

  .Visbcg {

    padding: 1rem;
    margin: 1rem;

  }

  .Vispg {
    font-size: 30px;
    font-weight: bold;
  }

  .Vispg1 {

    font-size: 16px;
    padding: 1rem;
  }

  .blank-div1 {
    border: 3px solid #6a82f4;
    left: -45px;
    bottom: 1px;
    width: 90px
  }
}

@media (max-width: 425px) {
  .blank-div1 {

    left: -100px;

  }
}

@media (max-width: 375px) {
  .blank-div1 {

    left: -70px;

  }
}

@media (max-width: 320px) {
  .blank-div1 {

    left: -45px;

  }
}

/*  ------------section 4 & 8 --------------- */

.containerForOurSevFlex {
  display: flex;
  padding-bottom: 3rem;
  /* border: 2px rgb(255, 60, 0) solid; */
  margin-top: 2rem;
}

.imgourServies {}

.OurSER-Conatiner1Pg {
  margin-left: 3rem;
  margin-top: 9rem;
}

.ourserpg {}

.OurSvPg1 {
  font-size: 80px;
  font-weight: bold;
  text-align: left;

  width: 517px;
}

.OursvPg2 {
  font-size: 20px;
  color: #3d2828;
  width: 678px;
  padding-top: 2rem;
}

.blank-pg {
  width: 140px;
  height: 6px;
  border: 7px solid #6a82f4;

  bottom: 40px;
  left: -120px;
}

@media (max-width: 1024px) {
  .imgourServies {
    width: 400px;
  }

  .OurSvPg1 {
    font-size: 60px;
    font-weight: bold;
    text-align: left;

    width: 400px;
  }

  .blank-pg {
    width: 100px;
  }

  .OursvPg2 {
    width: 500px;
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .imgourServies {
    width: 300px;
    height: 300px;
  }

  .OurSER-Conatiner1Pg {
    margin-top: 1rem;
  }

  .OurSvPg1 {
    font-size: 30px;
    font-weight: bold;
    text-align: left;

    width: 400px;
  }

  .OursvPg2 {
    width: 250px;
    font-size: 13px;
  }

  .blank-pg {
    width: 65px;

    border: 4px solid #6a82f4;
  }
}

@media (max-width: 425px) and (min-width: 320px) {
  .containerForOurSevFlex {
    display: block;
    padding: 1rem;
  }

  .imgourServies {
    width: 300px;
    padding: 2rem;
  }

  .OurSvPg1 {
    font-size: 30px;
    font-weight: bold;
    text-align: left;

    width: 250px;
  }

  .OurSER-Conatiner1Pg {
    margin-top: 0rem;
    margin: auto;
    padding: 2rem;
  }

  .OursvPg2 {
    width: 250px;
    font-size: 15px;
  }

  .blank-pg {
    width: 60px;

    border: 3px solid #6a82f4;
  }
}

/*  section --5 & -------------- */

.bcg {
  /* background-color: rgb(0, 255, 55); */
  /* border: 2px rgb(255, 17, 0) solid; */
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.OurSER-Conatiner2grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 4rem;
  margin-left: 4rem;
  /* border: 2px orange solid; */
}

.OurSER-Conatiner2Flex {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px rgb(255, 0, 157) solid; */
  padding: 1rem;
}

.FlexPgOurSer {
  font-size: 20px;
  font-weight: bold;
  width: 193px;
  height: 58px;
  text-align: left;
  padding: 9px;
  margin-left: 0.5rem;
  /* border: 2px rgb(255, 187, 0) solid; */
}

.FleximgOurSer {
  width: 61px;
  height: 61px;
  /* border: 2px rgb(47, 0, 255) solid; */
}

@media (max-width: 2560px) and (min-width: 1441px) {}

/*  ---------------@media quries Tablet-768-- */
@media (max-width: 768px) {
  .OurSER-Conatiner2grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* /*  ---------------@media quries   MobileL-425 ------ */
@media (max-width: 425px) and (min-width: 320px) {
  .OurSER-Conatiner2grid {
    display: block;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .FlexPgOurSer {
    padding: 5px;
  }
}

/*  section -6--------------- */

.portMainContainerBackgd {
  background-image: url("/img/section6/Group\ 10255.png");
  background-repeat: no-repeat;
  background-size: 115%;
  height: 500px;
  /* border: 2px rgb(9, 255, 0) solid; */
}

.portcontainer {
  /* border: 2px rgb(9, 255, 0) solid; */
  padding: 9rem;
}

.portpg1 {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  /* border: 2px red solid; */
  margin-top: -2rem;
}

.portpg2 {
  font-size: 16px;
  color: #ffffff;
  width: 480px;
  height: 53px;
  /* border: 2px red solid; */
  margin-top: 2rem;
}

.portBtn {
  background-color: #ffd357;
  width: 246px;
  height: 68px;
  border: none;
  border-radius: 5px;
  /* border: 2px red solid; */
  margin-top: 4rem;
}

.portBtnpg {
  font-size: 20px;
  font-weight: bold;
}

.blank-pg1 {
  width: 110px;
  height: 6px;
  border: 7px solid #fff94c;

  bottom: 40px;
  left: -120px;
}

@media (max-width: 1024px) {
  .portMainContainerBackgd {
    background-size: 140%;
  }

  .portBtn {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .portMainContainerBackgd {
    background-size: 135%;
  }

  .portpg1 {
    font-size: 30px;
    margin-top: -5rem;
  }

  .blank-pg1 {
    width: 80px;
    border: 4px solid #fff94c;
  }

  .portBtn {
    width: 150px;
    height: 50px;
  }

  .portBtnpg {
    font-size: 15px;
  }
}

@media (max-width: 425px) and (min-width: 320px) {
  .portMainContainerBackgd {
    background-size: 500%;
  }

  .portcontainer {
    /* border: 2px rgb(9, 255, 0) solid; */
    padding: 5rem;
  }

  .portpg1 {
    margin-top: 0rem;
  }

  .portpg2 {
    width: 180px;
    height: 120px;
  }

  .portBtn {}

  .portBtnpg {}

  .blank-pg1 {}
}

@media (max-width: 320px) {}

/*  section millon wala */

.MillonBcg {
  background-color: #44b2ff;
  /* border: 2px rgb(255, 0, 157) solid; */
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.MillonFlex {
  /* border: 2px rgb(0, 255, 149) solid; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-right: 10rem;
  margin-left: 10rem;
}

.MillpgBcg {
  padding: 0rem;
  margin: 1rem;
  box-shadow: 1px 1px 2rem 1rem #44b2ff;
  border: 2px #ffffff solid;
}

.numPg {
  font-size: 59px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;

  /* border: 2px rgb(0, 255, 13) solid; */
}

.dollPg {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* border: 2px rgb(238, 255, 0) solid; */
}

.lgPg {
  color: #ffffff;

  padding: 1rem;
  margin: auto;
  border-top: 2px #ffffff solid;
}

/*  mediaquries */

@media (max-width: 1024px) {
  .MillonBcg {
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 1px 1px 1rem;
  }

  .MillonFlex {
    margin-right: 3rem;
    margin-left: 3rem;
    padding: 5rem;
  }


}

.numPg {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding: 10px;

  /* border: 2px rgb(0, 255, 13) solid; */
}

.dollPg {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* border: 2px rgb(238, 255, 0) solid; */
}

.lgPg {
  color: #ffffff;

  padding: 1rem;
  margin: auto;
  border-top: 2px #ffffff solid;
}


@media (max-width: 768px) {
  .MillonBcg {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .MillonFlex {
    grid-template-columns: 1fr 1fr;
  }

  .dollPg {
    margin-top: 1rem;

    /* border: 2px rgb(238, 255, 0) solid; */
  }
}

@media (max-width: 425px) and (min-width: 320px) {
  .MillonFlex {
    display: block;
    margin-right: 0rem;
    margin-left: 0rem;
    padding: 4rem;
  }

  .MillpgBcg {
    margin: rem;
  }
}

.numPg {
  margin: auto;

  width: 140px;
  /*  height: 83px; 
    /* border: 2px rgb(0, 255, 13) solid; */
}

.dollPg {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  /* width: 130px; */
  height: 28px;
  /* border: 2px rgb(238, 255, 0) solid; */
}

.lgPg {
  color: #ffffff;

  text-align: center;
  width: 140px;
  height: px;
  /* border: 2px rgb(255, 94, 0) solid; */
}

/* section contact wala------ */
.bcgcontactUs {
  background-image: url(/img/section9-1/Mask\ Group\ 6.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.contactUsbutton1 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 271px;
  height: 78px;
  margin: auto;
  border-radius: 3px;
  background-color: #ffd357;
  margin-bottom: 2rem;
}

.contact {
  /* border: 2px rgb(10, 10, 9) solid; */
  margin: 10px;
  height: 28px;
}

.contctpg {
  font-size: 25px;
}

.contactUsbutton2 {
  text-align: center;
  width: 271px;
  height: 78px;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 3px;
  background-color: #ebe9e9;
  border: 2px rgb(10, 10, 9) solid;
}

.contctpg1 {
  margin: auto;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  align-items: center;
  font-size: 25px;
  width: 126px;
  height: 28px;
}

/* media quries */
@media (max-width: 2560px) and (min-width: 1500px) {
  .bcgcontactUs {
    padding-left: 0rem;
  }
}

@media (max-width: 1024px) {
  .bcgcontactUs {
    padding-top: 9rem;
    padding-bottom: 8rem;
  }
}

@media (max-width: 786px) {
  .bcgcontactUs {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .contactUsbutton1 {
    width: 200px;
    height: 50px;
  }

  .contactUsbutton2 {
    width: 200px;
    height: 50px;
  }

  .contctpg1 {
    padding-top: 8px;
    font-size: 20px;
  }

  .contact {
    /* border: 2px rgb(10, 10, 9) solid; */
    margin: 10px;
    height: 20px;
  }

  .contctpg {
    font-size: 20px;
  }
}

@media (max-width: 425px) and (min-width: 320px) {
  .bcgcontactUs {
    display: block;

    padding: 6rem;
  }

  .contactUsbutton1 {
    width: 170px;
    height: 50px;
  }

  .contactUsbutton2 {
    width: 170px;
    height: 50px;
  }

  .contact {
    /* border: 2px rgb(10, 10, 9) solid; */
    margin: 8px;
  }

  .contctpg {
    font-size: 20px;
  }

  .contctpg1 {
    font-size: 20px;
    padding: 10px;
  }
}

/* ---------footer section------ */
.footerbcg {
  background-color: #0c0c38;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.cronjimg {
  text-align: center;
  margin: auto;
  margin-bottom: 2rem;
}

.containergrid {
  margin-right: 4rem;
  margin-left: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* border: 1px rgb(236, 56, 194) solid; */
}

.logowithsubtitleFlex {
  display: flex;
  /* border: 1px orange solid; */
  text-align: center;
  align-items: center;
  gap: 10px;
}

.emailwithsubtitleFlex {
  display: flex;
  /* border: 1px orange solid; */
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
}

.phonelwithsubtitleFlex {
  display: flex;
  /* border: 1px orange solid; */
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.logo {
  width: 40px;
  height: 35px;
}

.logotitle {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  width: 79px;
  height: 43px;
}

.add {
  /* border: 1px orange solid; */
  font-size: 16px;
  color: #ffffffa6;
  width: 225px;
  height: 73px;
  margin-top: 10px;
}

.email {
  width: 18px;
  height: 12px;
}

.emailtitle {
  font-size: 18px;
  color: #ffffff;
  width: 211px;
  height: 25px;
}

.phone {
  width: 18px;
  height: 12px;
}

.phonetitle {
  font-size: 18px;
  color: #ffffff;
  width: 152px;
  height: 25px;
}

.footerverticalLine {
  display: flex;
  gap: 20px;
}

.verticalLine {
  width: 3px;
  height: 220px;
  background-color: #fff;
  /* border: 2px blue solid; */
  /* margin-left: 2rem; */
}

@media (max-width: 2560px) and (min-width: 1500px) {
  .containergrid {
    margin-right: 12rem;
    margin-left: 12rem;
  }

  .footerverticalLine {
    gap: 10rem;
  }
}

@media (max-width: 1024px) {
  .containergrid {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .footerverticalLine {
    gap: 10px;
  }
}

@media (max-width: 786px) {
  .containergrid {
    grid-template-columns: 1fr 1fr;
    /* border: 1px rgb(236, 56, 194) solid; */
    padding: 4rem;
  }

  .container2 {
    padding-bottom: 1rem;
    margin-left: 2rem;
  }

  .container {
    margin: 2rem;
  }

  .container {
    padding-top: 1rem;
    margin-left: 2rem;
    border-top: 2px rgb(212, 203, 206) solid;
  }

  .verticalLine {
    width: 0px;
    height: 200px;
    background-color: white;
    /* border: 2px blue solid; */
    /* margin-left: 2rem; */
  }
}

@media (max-width: 425px) and (min-width: 320px) {
  .containergrid {
    grid-template-columns: 1fr;
    /* border: 1px rgb(236, 56, 194) solid; */
    padding: 1rem;
  }

  .container {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .container1 {
    padding-top: 1rem;
    border-top: 5px rgb(212, 203, 206) solid;
  }

  .container {
    padding-top: 1rem;
    border-top: 5px rgb(212, 203, 206) solid;
  }

  .container2 {
    padding-bottom: 1rem;
    margin: 1rem;
  }
}